In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import sklearn

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [ ]:
train=pd.read_csv('Train_Data.csv')
test=pd.read_csv("Test_Data.csv")

In [3]:
train.head(10)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71
5,01-08-2020,campaign 1,adgroup 2,ad 2,7,2,0.04,0,0.00
6,01-08-2020,campaign 1,adgroup 4,ad 2,6,3,0.05,0,0.00
7,01-08-2020,campaign 1,adgroup 1,ad 3,129,52,0.58,0,0.00
8,01-08-2020,campaign 1,adgroup 3,ad 3,104,56,0.56,0,0.00
9,01-08-2020,campaign 1,adgroup 4,ad 3,6,5,0.05,0,0.00

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4571 entries, 0 to 4570
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         4571 non-null   object
 1   campaign     4571 non-null   object
 2   adgroup      4571 non-null   object
 3   ad           4571 non-null   object
 4   impressions  4571 non-null   int64
 5   clicks       4571 non-null   int64
 6   cost         4571 non-null   float64
 7   conversions  4571 non-null   int64
 8   revenue      4571 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 250.0+ KB

In [5]:
train.describe(include ="all" )

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
count,4571,4571,4571,4571,4571.000000,4571.000000,4571.000000,4571.000000,4571.000000
unique,212,1,4,70,NaN,NaN,NaN,NaN,NaN
top,30-10-2020,campaign 1,adgroup 3,ad 3,NaN,NaN,NaN,NaN,NaN
freq,35,4571,1672,617,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,92.635747,43.340844,2.800834,1.339094,231.865340
std,NaN,NaN,NaN,NaN,198.349737,100.164913,14.361618,5.223922,1091.742763
min,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,6.000000,2.000000,0.040000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,16.000000,7.000000,0.210000,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,84.000000,38.000000,1.350000,1.000000,92.600000
max,NaN,NaN,NaN,NaN,3239.000000,1771.000000,531.250000,94.000000,20515.410000

In [6]:
test.head()

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0

In [7]:
X=train.drop(columns=["date","campaign","adgroup","ad","revenue"])

In [8]:
y=train.revenue

In [9]:
X.describe()

       impressions       clicks         cost  conversions
count  4571.000000  4571.000000  4571.000000  4571.000000
mean     92.635747    43.340844     2.800834     1.339094
std     198.349737   100.164913    14.361618     5.223922
min       1.000000     0.000000     0.000000     0.000000
25%       6.000000     2.000000     0.040000     0.000000
50%      16.000000     7.000000     0.210000     0.000000
75%      84.000000    38.000000     1.350000     1.000000
max    3239.000000  1771.000000   531.250000    94.000000

In [10]:
X.head()

   impressions  clicks  cost  conversions
0           24       6  0.08            0
1            1       0  0.00            0
2           13       4  0.04            0
3            5       4  0.08            0
4          247     126  1.29            4

In [11]:
y.head()

0      0.00
1      0.00
2      0.00
3      0.00
4    925.71
Name: revenue, dtype: float64

In [12]:
X.shape

(4571, 4)

In [13]:
 train_X , val_X , train_y , val_y = train_test_split(X,y, random_state=1)

In [15]:
from sklearn.tree import DecisionTreeRegressor
iowa_model=DecisionTreeRegressor(random_state=1)

In [16]:
iowa_model.fit(train_X,train_y)

DecisionTreeRegressor(random_state=1)

In [18]:
val_predictions= iowa_model.predict(val_X)

In [19]:
from sklearn.metrics import mean_squared_error
val_rms= mean_squared_error(val_predictions,val_y)

In [21]:
print("Validation MAE when not specifying max_leaf_nodes: {:,.0f}".format(val_rms))

Validation MAE when not specifying max_leaf_nodes: 129,606

In [22]:
print(val_rms)

129606.21863945755

In [24]:
iowa_model = DecisionTreeRegressor(max_leaf_nodes=129606, random_state=1)
iowa_model.fit(train_X, train_y)
val_predictions = iowa_model.predict(val_X)
val_mae = mean_squared_error(val_predictions, val_y)
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE for best value of max_leaf_nodes: 129,293

In [25]:
iowa_model.fit(X,y)

DecisionTreeRegressor(max_leaf_nodes=129606, random_state=1)

In [26]:
predicto =iowa_model.predict(X)

In [27]:
val_predicto=mean_squared_error(predicto,y)

In [28]:
print(val_predicto)

13.16910515569168

In [29]:
Xx=test.drop(columns=["date","campaign","adgroup","ad" ])

In [30]:
Xx.head()

   cost  impressions  clicks  conversions
0  0.58          121      49            1
1  0.17           22      12            0
2  0.05            5       3            0
3  0.01            2       1            0
4  0.01            3       1            0

In [36]:
fina_prediction=iowa_model.predict(Xx)

In [37]:
print(fina_prediction)

[ 174.18    0.      0.      0.      0.      0.    174.18    0.    174.18
    0.   1328.43    0.      0.    250.4     0.    174.18    0.    174.18
    0.    174.18    0.      0.      0.   1328.43    0.      0.    947.23
  174.18    0.      0.    718.58    0.   1421.59  537.1   100.8     0.
  174.18    0.      0.      0.      0.      0.      0.      0.      0.
    0.      0.      0.      0.      0.      0.      0.      0.    250.4
  174.18   56.      0.      0.      0.    740.      0.    250.4     0.
  250.4     0.      0.   1328.43  174.18    0.      0.    250.4     0.
    0.      0.    174.18  174.18  947.23    0.      0.      0.   1328.43
  212.      0.    174.18    0.      0.    947.23 1485.51    0.    250.4
  283.    284.03    0.   1619.95  174.18    0.      0.      0.      0.
    0.    174.18    0.      0.    174.18    0.   3206.11    0.    283.
    0.    174.18    0.    947.23    0.    537.1     0.   1996.47    0.
 3206.11 1328.43  174.18    0.      0.   1328.43    0.      0.      0.
 1328.43    0.    174.18  174.18    0.      0.      0.      0.    947.23
    0.      0.      0.   1328.43    0.    174.18    0.      0.      0.
  100.8     0.      0.    847.72  749.62    0.      0.      0.    947.23
    0.    250.4     0.    947.23    0.      0.      0.    174.18    0.
    0.      0.    250.4     0.    284.03    0.      0.      0.      0.
    0.      0.    174.18    0.      0.      0.      0.    250.4   212.
    0.      0.      0.    174.18    0.      0.    174.18    0.    174.18
    0.      0.    100.8     0.      0.      0.      0.      0.      0.
    0.    174.18  197.68    0.    250.4     0.      0.      0.    174.18
    0.      0.   1328.43    0.      0.      0.    174.18  284.03    0.
    0.      0.      0.    284.03    0.      0.      0.      0.      0.
  947.23    0.      0.    174.18    0.    250.4     0.      0.      0.
    0.      0.      0.    174.18    0.      0.      0.      0.      0.
    0.      0.    100.8     0.      0.      0.      0.   1328.43  250.4
    0.   1328.43    0.    174.18    0.      0.    100.8   100.8     0.
  250.4     0.      0.      0.      0.      0.      0.      0.      0.
  283.      0.      0.    947.23    0.      0.      0.    250.4   174.18
    0.      0.      0.      0.      0.    284.03    0.    174.18    0.
    0.      0.      0.    174.18    0.      0.    174.18    0.      0.
  174.18    0.      0.      0.      0.    947.23    0.      0.      0.
 1421.59    0.      0.    284.03  174.18  100.8     0.      0.      0.
    0.      0.    174.18]

In [40]:
output=pd.DataFrame({"revenue":fina_prediction})

In [41]:
 output.to_csv('submission.csv', index=False)

In [44]:
import base64
import pandas as pd
from IPython.display import HTML

def create_download_link( df, title = "Download CSV file", filename = "data.csv"):
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

In [45]:

 create_download_link(output)